/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Nov, 2017, 1:14:19 PM
    Author     : Fan Syong Yue
*/
.jfx-hamburger StackPane { 
    -fx-background-color:  #eda678; 
}

.jfx-combobox ListView {
    -fx-text-fill: #FFF;
}

.custom-checkbox {
    -jfx-checked-color: #eda678;
    -jfx-unchecked-color: #FFF;
}

.custom-radio-button {
    -jfx-selected-color: #eda678;
    -jfx-unselected-color: #FFF;
}

.custom-combobox {
    -fx-text-fill: #FFF;
    -fx-font-size:  20;
}
.noRadius {
    -fx-background-radius: 0;
}
